In [2]:
import pandas as pd

In [5]:
from sklearn.preprocessing import LabelEncoder

In [8]:
ds=pd.read_csv(r"C:\Users\dell\Downloads\Titanic (1).csv")
ds

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:
ds.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [20]:
ds['Age'].fillna(ds['Age'].median(),inplace=True)

In [18]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
ds['Embarked'].fillna(ds['Embarked'].mode(),inplace=True)

In [26]:
ds['Embarked']=LabelEncoder().fit_transform(ds['Embarked'])

In [29]:
ds['Sex']=LabelEncoder().fit_transform(ds['Sex'])

In [32]:
ds

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,28.0,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,1

In [35]:
x=ds[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [37]:
x

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1       3    1  22.0      1      0   7.2500         2
1              2       1    0  38.0      1      0  71.2833         0
2              3       3    0  26.0      0      0   7.9250         2
3              4       1    0  35.0      1      0  53.1000         2
4              5       3    1  35.0      0      0   8.0500         2
..           ...     ...  ...   ...    ...    ...      ...       ...
886          887       2    1  27.0      0      0  13.0000         2
887          888       1    0  19.0      0      0  30.0000         2
888          889       3    0  28.0      1      2  23.4500         2
889          890       1    1  26.0      0      0  30.0000         0
890          891       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [40]:
y=ds[['Survived']]

In [42]:
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [45]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=42)

In [51]:
x_train

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
445          446       1    1   4.0      0      2   81.8583         2
650          651       3    1  28.0      0      0    7.8958         2
172          173       3    0   1.0      1      1   11.1333         2
450          451       2    1  36.0      1      2   27.7500         2
314          315       2    1  43.0      1      1   26.2500         2
..           ...     ...  ...   ...    ...    ...       ...       ...
106          107       3    0  21.0      0      0    7.6500         2
270          271       1    1  28.0      0      0   31.0000         2
860          861       3    1  41.0      2      0   14.1083         2
435          436       1    0  14.0      1      2  120.0000         2
102          103       1    1  21.0      0      1   77.2875         2

[623 rows x 8 columns]

In [53]:
y_train

     Survived
445         1
650         0
172         1
450         0
314         0
..        ...
106         1
270         0
860         0
435         1
102         0

[623 rows x 1 columns]

In [55]:
x_test

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
709          710       3    1  28.0      1      1  15.2458         0
439          440       2    1  31.0      0      0  10.5000         2
840          841       3    1  20.0      0      0   7.9250         2
720          721       2    0   6.0      0      1  33.0000         2
39            40       3    0  14.0      1      0  11.2417         0
..           ...     ...  ...   ...    ...    ...      ...       ...
821          822       3    1  27.0      0      0   8.6625         2
633          634       1    1  28.0      0      0   0.0000         2
456          457       1    1  65.0      0      0  26.5500         2
500          501       3    1  17.0      0      0   8.6625         2
430          431       1    1  28.0      0      0  26.5500         2

[268 rows x 8 columns]

In [57]:
y_test

     Survived
709         1
439         0
840         0
720         1
39          1
..        ...
821         1
633         0
456         0
500         0
430         1

[268 rows x 1 columns]

In [66]:
from sklearn.linear_model import LogisticRegression

In [68]:
model=LogisticRegression(max_iter=1000) 
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [71]:
import joblib
joblib.dump(model,'titanic_model')

['titanic_model']

In [ ]:
joblib_reload=joblib.load('titanic_model')

In [75]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0], dtype=int64)

In [79]:
y_pred1=model.predict(x_train)
y_pred1

array([1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0], dtype=int64)

In [82]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [85]:
r2_score(y_pred,y_test)

0.19277108433734946

In [88]:
model.score(x_test,y_test)

0.8097014925373134

In [91]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [94]:
accuracy_score(y_pred,y_test)

0.8097014925373134

In [97]:
accuracy_score(y_pred,y_test)

0.8097014925373134

In [102]:
confusion_matrix(y_pred,y_test)

array([[136,  30],
       [ 21,  81]], dtype=int64)

* confusion_matrix elements

1. True positive(TP):
    * These are cases where the model correctly predicted the positive class
2. False positive(FP):
    *  These are cases where the model incorrectly predicted the positive class
3. True negative(TN):
    *  These are cases where the model correctly predicted the negative class
4. False negative(FN):
    *  These are cases where the model incorrectly predicted the negative class